target/
.mvn/
.vscode

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Allure ###
.allure
allure-results/

### Load Test ###
src/load-test/docker/cache
src/load-test/docker/grafana/plugins
src/load-test/docker/grafana/data/sessions
src/load-test/results